<a href="https://colab.research.google.com/github/GoPlusUltra/Global-Terrorism-Analysis/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

Plan-
1. fetch the data.
2. clean the data if the null values are more than 40% then drop that column.
3. get the req data in data frame for eda.
4. plot differnt plots
5. Use differnt methods other than class to represent analysis.

current errors

df.describe() not working

In [ ]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
path = '/content/drive/MyDrive/almabetter/Global_Terrorism_Data.csv'
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv(path,encoding='latin-1') #encoding data

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

Warning: Total number of columns (135) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
pd.set_option('float_format','${:,2f}'.format)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [ ]:
temp_dataframe=pd.DataFrame(df.columns,list(df.isna().sum()))

In [ ]:
temp_dataframe

                 0
0          eventid
0            iyear
0           imonth
0             iday
172452  approxdate
...            ...
0          INT_LOG
0         INT_IDEO
0         INT_MISC
0          INT_ANY
156653     related

[135 rows x 1 columns]

In [ ]:
temp_df=df[['eventid','iyear','imonth','iday','country_txt','region_txt','provstate','city','latitude','longitude','doubtterr','multiple','success','suicide','attacktype1','targtype1','target1','gname','motive','weaptype1','weapsubtype1','weapdetail','nkill','property']]

In [ ]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   eventid       181691 non-null  int64
 1   iyear         181691 non-null  int64
 2   imonth        181691 non-null  int64
 3   iday          181691 non-null  int64
 4   country_txt   181691 non-null  object
 5   region_txt    181691 non-null  object
 6   provstate     181270 non-null  object
 7   city          181257 non-null  object
 8   latitude      177135 non-null  float64
 9   longitude     177134 non-null  float64
 10  doubtterr     181690 non-null  float64
 11  multiple      181690 non-null  float64
 12  success       181691 non-null  int64
 13  suicide       181691 non-null  int64
 14  attacktype1   181691 non-null  int64
 15  targtype1     181691 non-null  int64
 16  target1       181055 non-null  object
 17  gname         181691 non-null  object
 18  motive        50561 non-null   object
 19  weaptype1     181691 non-null  int64
 20  weapsubtype1  160923 non-null  float64
 21  weapdetail    114021 non-null  object
 22  nkill         171378 non-null  float64
 23  property      181691 non-null  int64
dtypes: float64(6), int64(10), object(8)
memory usage: 33.3+ MB

In [ ]:
#Plotting a graph of total no of attacks in year

In [ ]:

total_no_of_attacks = pd.DataFrame(df['iyear'].value_counts()).reset_index()
total_no_of_attacks.head()

   index  iyear
0   2014  16903
1   2015  14965
2   2016  13587
3   2013  12036
4   2017  10900

In [ ]:
#fig = plt.figure(figsize = (10, 5))
#plt.bar(total_no_of_attacks)

In [ ]:
sns.histplot(temp_df['iyear'],df['iyear'].value_counts())

TypeError: ignored

In [ ]:
temp_df['latitude'].isna().sum()

4556